# Flask==2.2.2
# requests==2.28.2
# plotly==5.14.0
# Werkzeug==2.2.2


# Old:
# werkzeug==<2.2.3
# flask==<2.2.5
# requests>=2.3.0,<2.31.0

# Updated (safe versions):
werkzeug>=2.3.8
flask>=2.2.5
requests>=2.31.0
# plotly>=5.14.0